openapi: 3.1.0
info:
  title: OneTrust Platform AI Governance Data Subjects API
  description: 'Cross-product REST API for the OneTrust platform covering Consent and

    Preference Management, Data Subjects, Privacy Notices, Cookie & Domain

    Management, Application (Mobile/OTT) scanning, and AI Governance.

    Authentication primarily uses OAuth 2.0 Client Credentials issuing a JWT

    bearer token; some collection-point operations exchange JWT tokens via a

    dedicated endpoint.

    '
  version: 1.0.0
  contact:
    name: OneTrust Developer Portal
    url: https://developer.onetrust.com/onetrust/reference
servers:
- url: https://app.onetrust.com
  description: OneTrust production tenant (US). Replace host for EU/other tenants.
security:
- BearerAuth: []
tags:
- name: Data Subjects
paths:
  /api/consentmanager/v3/datasubjects:
    get:
      tags:
      - Data Subjects
      summary: List data subjects (V4)
      description: List data subjects by date range.
      parameters:
      - name: startDate
        in: query
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          $ref: '#/components/responses/Generic'
    post:
      tags:
      - Data Subjects
      summary: Create or update a data subject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /api/consentmanager/v3/datasubjects/{identifier}:
    get:
      tags:
      - Data Subjects
      summary: Retrieve data subject details
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/Generic'
    delete:
      tags:
      - Data Subjects
      summary: Delete a data subject profile (async)
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '202':
          $ref: '#/components/responses/Generic'
components:
  responses:
    Generic:
      description: Generic OneTrust API response.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT bearer token issued via OAuth 2.0 client credentials.
