openapi: 3.1.0
info:
  title: OneTrust Platform AI Governance Cookies API
  description: 'Cross-product REST API for the OneTrust platform covering Consent and

    Preference Management, Data Subjects, Privacy Notices, Cookie & Domain

    Management, Application (Mobile/OTT) scanning, and AI Governance.

    Authentication primarily uses OAuth 2.0 Client Credentials issuing a JWT

    bearer token; some collection-point operations exchange JWT tokens via a

    dedicated endpoint.

    '
  version: 1.0.0
  contact:
    name: OneTrust Developer Portal
    url: https://developer.onetrust.com/onetrust/reference
servers:
- url: https://app.onetrust.com
  description: OneTrust production tenant (US). Replace host for EU/other tenants.
security:
- BearerAuth: []
tags:
- name: Cookies
paths:
  /api/cookiemanager/v2/cookies:
    post:
      tags:
      - Cookies
      summary: Create cookie
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          $ref: '#/components/responses/Generic'
    put:
      tags:
      - Cookies
      summary: Update cookie
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /api/cookiemanager/v2/cookies/bulk:
    post:
      tags:
      - Cookies
      summary: Bulk add cookies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: true
      responses:
        '202':
          $ref: '#/components/responses/Generic'
    delete:
      tags:
      - Cookies
      summary: Bulk delete cookies
      responses:
        '202':
          $ref: '#/components/responses/Generic'
  /api/cookiemanager/v2/cookies/categorized:
    get:
      tags:
      - Cookies
      summary: Get categorized cookies by domain
      parameters:
      - name: domain
        in: query
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/Generic'
components:
  responses:
    Generic:
      description: Generic OneTrust API response.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT bearer token issued via OAuth 2.0 client credentials.
