openapi: 3.1.0
info:
  title: OneTrust Platform AI Governance Privacy Notices API
  description: 'Cross-product REST API for the OneTrust platform covering Consent and

    Preference Management, Data Subjects, Privacy Notices, Cookie & Domain

    Management, Application (Mobile/OTT) scanning, and AI Governance.

    Authentication primarily uses OAuth 2.0 Client Credentials issuing a JWT

    bearer token; some collection-point operations exchange JWT tokens via a

    dedicated endpoint.

    '
  version: 1.0.0
  contact:
    name: OneTrust Developer Portal
    url: https://developer.onetrust.com/onetrust/reference
servers:
- url: https://app.onetrust.com
  description: OneTrust production tenant (US). Replace host for EU/other tenants.
security:
- BearerAuth: []
tags:
- name: Privacy Notices
paths:
  /api/privacynotice/v1/notices:
    get:
      tags:
      - Privacy Notices
      summary: List privacy notices
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /api/privacynotice/v1/notices/{id}/versions:
    get:
      tags:
      - Privacy Notices
      summary: List privacy notice versions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/Generic'
components:
  responses:
    Generic:
      description: Generic OneTrust API response.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT bearer token issued via OAuth 2.0 client credentials.
