openapi: 3.1.0
info:
  title: OneTrust Platform AI Governance Consent API
  description: 'Cross-product REST API for the OneTrust platform covering Consent and

    Preference Management, Data Subjects, Privacy Notices, Cookie & Domain

    Management, Application (Mobile/OTT) scanning, and AI Governance.

    Authentication primarily uses OAuth 2.0 Client Credentials issuing a JWT

    bearer token; some collection-point operations exchange JWT tokens via a

    dedicated endpoint.

    '
  version: 1.0.0
  contact:
    name: OneTrust Developer Portal
    url: https://developer.onetrust.com/onetrust/reference
servers:
- url: https://app.onetrust.com
  description: OneTrust production tenant (US). Replace host for EU/other tenants.
security:
- BearerAuth: []
tags:
- name: Consent
paths:
  /api/consentmanager/v3/consentreceipts:
    post:
      tags:
      - Consent
      summary: Create consent receipt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /api/consentmanager/v3/consentreceipts/bulk:
    post:
      tags:
      - Consent
      summary: Bulk import consent receipts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: true
      responses:
        '202':
          $ref: '#/components/responses/Generic'
  /api/consentmanager/v3/collectionpoints:
    get:
      tags:
      - Consent
      summary: List collection points
      responses:
        '200':
          $ref: '#/components/responses/Generic'
    post:
      tags:
      - Consent
      summary: Create collection point
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          $ref: '#/components/responses/Generic'
  /api/consentmanager/v3/collectionpoints/token:
    get:
      tags:
      - Consent
      summary: Retrieve JWT collection point token
      responses:
        '200':
          description: JWT token issued for a collection point.
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
components:
  responses:
    Generic:
      description: Generic OneTrust API response.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT bearer token issued via OAuth 2.0 client credentials.
